*{
    margin:0;
    padding:0;
}
body{
    background:#000;
    overflow-x:hidden;
    font-family:Arial;
    font-size:14px;
    color:#333;
    text-shadow: 1px 1px 1px #fff;
}
a:hover{
    color:#222;
}
p{
    padding:5px 0px;
}
.wrapper{
    width:960px;
    margin:50px auto;
    min-height:550px;
}
.clear{
    clear:both;
}
.form_wrapper{
    background:#fff;
    margin:0 auto;
    width:350px;
    font-size:16px;
}
h3{
    padding:20px 30px 20px 30px;
    background-color:lightcoral;
    color:midnightblue;
    font-size:25px;
    border-bottom:1px solid lightgray;
}
.form_wrapper form{
    border:3px solid lightgray;
    box-shadow:5px 5px 7px grey;
    display:none;
    background:white;
}
.form_wrapper .column{
    width:47%;
    float:left;
}
form.active{
    display:block;
}
form.login{
    width:350px;
}
form.reset{
    width:400px;
}
form.register{
    width:500px;
}
form.forgot_password{
    width:300px;
}
.form_wrapper a{
    text-decoration:none;
    color:orange;
    font-size:12px;
}
.form_wrapper a:hover{
    color:black;
}
.form_wrapper label{
    display:block;
    padding:10px 30px 0px 30px;
    margin:10px 0px 0px 0px;
}
.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="tel"],
.form_wrapper input[type="password"]{
    border: solid 1px grey;
    background:white;
    margin: 5px 30px 0px 30px;
    padding: 9px;
    display:block;
    font-size:16px;
    width:75%;
    box-shadow: 0px 0px 8px lightgrey;
}
.form_wrapper input[type="text"]:focus,
.form_wrapper input[type="email"]:focus,
.form_wrapper input[type="tel"]:focus,
.form_wrapper input[type="password"]:focus{
    background:peachpuff;
}
.form_wrapper .bottom{
    background-color:lightcoral;
    border-top:1px solid lightgrey;
    margin-top:20px;
    clear:both;
    color:white;
    text-shadow:1px 1px 1px black;
}
.form_wrapper .bottom a{
    display:block;
    clear:both;
    padding:10px 30px;
    text-align:right;
    color:midnightblue;
    font-weight: bold;
    font-size: 15px;
    text-shadow:1px 1px 1px white;
}
.form_wrapper a.forgot{
    float:right;
    font-style:italic;
    line-height:24px;
    color:orangered;
    text-shadow:1px 1px 1px white;
}
.form_wrapper a.forgot:hover{
    color:black;
}
.form_wrapper div.remember{
    float:left;
    width:140px;
    margin:20px 0px 20px 30px;
    font-size:12px;
}
.form_wrapper div.remember input{
    float:left;
    margin:2px 5px 0px 0px;
}
.form_wrapper span.error{
    visibility:hidden;
    color:red;
    font-size:11px;
    font-style:italic;
    display:block;
    margin:4px 30px;
}
.form_wrapper span.errorLogin{
    visibility:hidden;
    color:red;
    font-size:11px;
    font-style:italic;
    display:block;
    margin:4px 30px;
}
.form_wrapper input[type="submit"] {
    background: lightgray;
    border: 1px solid lightblue;
    color: black;
    font-family:sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 0 9px;
    text-align: center;
    width: 150px;
    cursor:pointer;
    margin:5px 10px 10px 10px;
    text-shadow: 0px 1px 0px white;
    border-radius: 4px;
    box-shadow: 0px 0px 2px lightgrey inset;
}
.bg_img img{
    width:100%;
    height:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:-1;
}
h1{
    font-size:75px;
    text-align:right;
    position:absolute;
    right:40px;
    top:20px;
    font-weight:normal;
    text-shadow:1px 1px 1px black;
    color:white;
}
h1 span{
    display:block;
    font-size:15px;
    font-weight:bold;
}
h2{
    position:absolute;
    top:300px;
    left:70px;
    font-size:50px;
    font-weight:bold;
    color:white;
    text-shadow:1px 1px 1px black;
}
.bg_wrapper ul.hovered > li > a{
    background:#fff;
    text-shadow:0px 0px 1px #FFF;
}
.oe_overlay{
    background:#000;
    opacity:0;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
ul.oe_menu{
    list-style:none;
    position:relative;
    margin:30px 0px 0px 40px;
    width:460px;
    float:left;
    clear:both;
}
ul.oe_menu > li{
    width:112px;
    height:60px;
    padding-bottom:2px;
    float:left;
    position:relative;
}
ul.oe_menu > li > a{
    display:block;
    background-color:greenyellow;
    color:blue;
    text-decoration:none;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:15px;
    width:90px;
    height:40px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin:1px;
    opacity:0.8;
}
ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a{
    background:#fff;
    color:#101010;
    opacity:1.0;
}
ul.oe_menu li ul{
    list-style:none;
    float:left;
    width: 150px;
    margin-right:10px;
}
